.text{
    -fx-font-smoothing-type: gray;
}
.line{
    -fx-stroke: green;
    -fx-stroke-width: 15px;
    -fx-stroke-line-cap: round;
}
.boardButton{
    -fx-text-fill:darkgreen;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-family: Gadugi;
    -fx-font: 90px bold;
    -fx-content-display: center;
    -fx-cursor: crosshair;
    -fx-pref-height: 184;
    -fx-pref-width: 184;
}
#grid{
    -fx-background-color: linear-gradient( aqua, violet);
}
#endBackground{
    -fx-background-color: rgba(128, 128, 128, 0.8);
    -fx-pref-height: 600;
    -fx-pref-width: 600;
}
#gameOverLabel{
    -fx-text-fill: #f1e9e9;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-font-size: 75px bold;
    -fx-font-family: Jokerman;
}
.endButtons{
    -fx-background-color: deepskyblue;
    -fx-text-fill: #f1e9e9;
    -fx-font-family: Gadugi;
    -fx-font: 40px bold;
    -fx-content-display: center;
    -fx-cursor: default;
}

